<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.xicp.liushaobo.react">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!--React Native.-->
        <activity
            android:name="com.facebook.react.devsupport.DevSettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="DevSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.qatest.list" />
            </intent-filter>
        </activity>
    </application>

</manifest>
